<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <style>
    .heading{
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    .mt-12{
      margin-top: 12px;
    }
  </style>
  <body onload="number_pages">
    <div id="header"></div>
    <div id="content"><%= yield %></div>
  </body>
</html>
